*{
  margin:0;
  padding:0;
}
*{
  box-sizing:border-box;
}
::before,::after{
  box-sizing:border-box;
}
ul,ol{
  list-style: none;
}

ul.suggestion{
  position:absolute;
  left:0;
  top:100%;
  display:none; 
}

ul.suggestion.active{
  display:block;
}

body{
  border:3px solid red;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.wrapper{
  display:flex;
  position:relative;
}

.inputWrapper{
  position:relative;
  display:inline-block;
}

.inputWrapper{
  float:left;
}

.inputWrapper + button{
  float:left;
}
.inputWrapper +button:focus{
  outline:none;
}

.inputWrapper +button:hover{
  box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2);
  background:#3781f0;
}

.inputWrapper + button{
  background:#3988f8;
  border:none;
  font-size:14px;
  color:white;
  padding:0 20px;
}

.inputWrapper input[type=text]{
  border:1px solid #b8b8b8;
  height: 35px;
  width:540px;
  line-height: 35px;
  padding-left:8px;
  font-size:15px;
}
.inputWrapper input[type=text]:focus{
  outline: none;
  border:1px solid #4b94fc;

}
.flexDiv{
  position:absolute;
  right:0;
  top:0;
  height:100%;
  display:flex;
  justify-content:cneter;
  align-items:center;
  margin-right:10px;
  color:#b8b8b8;
}
.flexDiv .seperator{
  width:0;
  height:16px;
  border:1px solid;
  margin:0 12px;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.inputWrapper svg.icon{
  width:20px;
  height:20px;
  fill:#b8b8b8;
}


.inputWrapper svg.icon:hover{
  fill:#4b94fc;
  cursor:pointer;
}
.wrapper button:hover{
  cursor:pointer;
}